/*** Navigation ***/

#nav-header {
  color: #fff;
  background-color: #33393F;
}

#nav-header a {
  color: #fff;
}

nav > ul {  
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

nav > ul > li > a.nav-link,
.ddown-menu > li > a {
  display: block;
  padding: 1rem;
  /* border: 1px solid #fff; */
}

nav > ul > li > ul {
  display: none;
  list-style-type: none;
}

nav > ul > li:hover > ul {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50px;
  background-color: #33393F;
}

.ddown-menu > li {
  text-align: center;
}

.ddown-menu > li > a {
  padding: 0.5rem 1rem;
}

/*** End of Navigation ***/

/*** Add Form ***/

.add-form {
  max-width: 280px;
}

.add-form input[type="text"],
.add-form textarea,
.add-form button {
  display: block;
  margin-bottom: 1rem;
  padding: 5px;  
}

.add-form input[type="text"],
.add-form textarea {
  width: 100%;  
}

/*** End of Add Form ***/

/*** Errors ****/


/*** End of Errors ***/